*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/.gitignore
/files/01 动词/1-1 动词 10页-20页.txt
/files/01 动词/1-2 动词 21页-30页.txt
/files/初级双语单词
/app-debug.apk
/files/1初级单词
/app/src/androidTest/java/com/frank/word/ExampleInstrumentedTest.java
/app/src/test/java/com/frank/word/ExampleUnitTest.java
/app/src/main/ic_launcher-playstore.png
/files/2中级单词
/files/tmp.mp3
/files/N2词汇
/TODO.txt
/UI.png
