*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/.gitignore
/files/01 动词/1-1 动词 10页-20页.txt
/files/01 动词/1-2 动词 21页-30页.txt
/files/初级双语单词/01第一课.txt
/files/初级双语单词/02第二课.txt
/files/初级双语单词/03第三课.txt
/files/初级双语单词/04第四课.txt
/files/初级双语单词/05第五课.txt
/files/初级双语单词/06第六课.txt
/files/初级双语单词/07第七课.txt
/files/初级双语单词/08第八课.txt
/files/初级双语单词/09第九课.txt
/files/初级双语单词/10第十课.txt
/files/初级双语单词/11第十一课.txt
/files/初级双语单词/12第十二课.txt
/files/初级双语单词/13第十三课.txt
/files/初级双语单词/14第十四课.txt
/files/初级双语单词/15第十五课.txt
/files/初级双语单词/16第十六课.txt
/files/初级双语单词/17第十七课.txt
/files/初级双语单词/18第十八课.txt
/files/初级双语单词/19第十九课.txt
/files/初级双语单词/20第二十课.txt
/files/初级双语单词/21第二十一课.txt
/files/初级双语单词/22第二十二课.txt
/files/初级双语单词/23第二十三课.txt
/files/初级双语单词/24第二十四课.txt
/files/初级双语单词/25第二十五课.txt
/files/初级双语单词/26第二十六课.txt
/files/初级双语单词/27第二十七课.txt
/files/初级双语单词/28第二十八课.txt
/files/初级双语单词/29第二十九课.txt
/files/初级双语单词/30第三十课.txt
/files/初级双语单词/31第三十一课.txt
/files/初级双语单词/32第三十二课.txt
/files/初级双语单词/33第三十三课.txt
/files/初级双语单词/34第三十四课.txt
/files/初级双语单词/35第三十五课.txt
/files/初级双语单词/36第三十六课.txt
/files/初级双语单词/37第三十七课.txt
/files/初级双语单词/38第三十八课.txt
/files/初级双语单词/39第三十九课.txt
/files/初级双语单词/40第四十课.txt
/files/初级双语单词/41第四十一课.txt
/files/初级双语单词/42第四十二课.txt
/files/初级双语单词/43第四十三.txt
/files/初级双语单词/44第四十四课.txt
/files/初级双语单词/45第四十五课.txt
/files/初级双语单词/46第四十六课.txt
/files/初级双语单词/47第四十七课.txt
/files/初级双语单词/48第四十八课.txt
/app-debug.apk
/files/1初级单词/audio01.txt
/files/1初级单词/audio02.txt
/files/1初级单词/audio03.txt
/files/1初级单词/audio04.txt
/files/1初级单词/audio05.txt
/files/1初级单词/audio06.txt
/files/1初级单词/audio07.txt
/files/1初级单词/audio08.txt
/files/1初级单词/audio09.txt
/files/1初级单词/audio10.txt
/files/1初级单词/audio11.txt
/files/1初级单词/audio12.txt
/files/1初级单词/audio13.txt
/files/1初级单词/audio14.txt
/files/1初级单词/audio15.txt
/files/1初级单词/audio16.txt
/files/1初级单词/audio17.txt
/files/1初级单词/audio18.txt
/files/1初级单词/audio19.txt
/files/1初级单词/audio20.txt
/files/1初级单词/audio21.txt
/files/1初级单词/audio22.txt
/files/1初级单词/audio23.txt
/files/1初级单词/audio24.txt
/files/1初级单词/audio25.txt
/files/1初级单词/audio26.txt
/files/1初级单词/audio27.txt
/files/1初级单词/audio28.txt
/files/1初级单词/audio29.txt
/files/1初级单词/audio30.txt
/files/1初级单词/audio31.txt
/files/1初级单词/audio32.txt
/files/1初级单词/audio33.txt
/files/1初级单词/audio34.txt
/files/1初级单词/audio35.txt
/files/1初级单词/audio36.txt
/files/1初级单词/audio37.txt
/files/1初级单词/audio38.txt
/files/1初级单词/audio39.txt
/files/1初级单词/audio40.txt
/files/1初级单词/audio41.txt
/files/1初级单词/audio42.txt
/files/1初级单词/audio43.txt
/files/1初级单词/audio44.txt
/files/1初级单词/audio45.txt
/files/1初级单词/audio46.txt
/files/1初级单词/audio47.txt
/files/1初级单词/audio48.txt
/app/src/androidTest/java/com/frank/word/ExampleInstrumentedTest.java
/app/src/test/java/com/frank/word/ExampleUnitTest.java
/app/src/main/ic_launcher-playstore.png
/files/2中级单词/Lesson01.txt
/files/2中级单词/Lesson02.txt
/files/2中级单词/Lesson03.txt
/files/2中级单词/Lesson04.txt
/files/2中级单词/Lesson05.txt
/files/2中级单词/Lesson06.txt
/files/2中级单词/Lesson07.txt
/files/2中级单词/Lesson08.txt
/files/2中级单词/Lesson09.txt
/files/2中级单词/Lesson10.txt
/files/2中级单词/Lesson11.txt
/files/2中级单词/Lesson12.txt
/files/2中级单词/Lesson13.txt
/files/2中级单词/Lesson14.txt
/files/2中级单词/Lesson15.txt
/files/2中级单词/Lesson16.txt
/files/2中级单词/Lesson17.txt
/files/2中级单词/Lesson18.txt
/files/2中级单词/Lesson19.txt
/files/2中级单词/Lesson20.txt
/files/2中级单词/Lesson21.txt
/files/2中级单词/Lesson22.txt
/files/2中级单词/Lesson23.txt
/files/2中级单词/Lesson24.txt
/files/2中级单词/Lesson25.txt
/files/2中级单词/Lesson26.txt
/files/2中级单词/Lesson27.txt
/files/2中级单词/Lesson28.txt
/files/2中级单词/Lesson29.txt
/files/2中级单词/Lesson30.txt
/files/2中级单词/Lesson31.txt
/files/2中级单词/Lesson32.txt
/files/tmp.mp3
/TODO.txt
/UI.png
